// BACKGROUND COLOR INIT
.background-color-0 {
  background-image: linear-gradient(to right, #06e6ae, rgb(63, 247, 177));
  // background-color: #ec3431;
}

.background-color-1 {
  background-image: linear-gradient(to right, #3e9fb2, #53cfe7);
  //background-color: #3e9fb2;
}

.background-color-2 {
  background-image: linear-gradient(to right, #fe8700, #eb7653);
  //background-color: #feb500;
}

.background-color-3 {
  background-image: linear-gradient(to right, #f72323, #e7523e);
  //background-color: #23c2a2;
}

.background-color-4 {
  background-image: linear-gradient(to right, #0162a7, #4ba8eb);
  //background-color: #0162a7;
}
// BACKGROUND COLOR END