.title {
    font-size: 3.5rem;
    letter-spacing: 0.02rem;
    font-weight: bold;
    color: white;
}

.subtitle {
    font-size: 2rem;
    letter-spacing: 0.12rem;
    font-weight: normal;
    color: white;
    margin-top: .8em;
}

.description {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    font-weight: normal;
    color: white;
}

p.accent-text {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    font-weight: bold;
    color: white;
}

p.capitalize {
    text-transform: capitalize;
}

.info-detail-container {
    padding: 3% !important;
}

@media (max-width: 767px) {
    .description {
        font-size: 1rem;
        letter-spacing: 0.03rem;
        font-weight: normal;
        color: white;
    }
    .descri {
        text-align: justify !important;
    }
    .btn-close {
        font-size: 40px;
        .mat-icon {
            font-size: 15px;
        }
    }
    .title {
        font-size: 2.5rem;
        letter-spacing: 0.02rem;
        font-weight: bold;
        color: white;
    }
    .subtitle {
        font-size: 1rem;
        letter-spacing: 0.12rem;
        font-weight: normal;
        color: white;
        margin-top: .8em;
    }
    p.accent-text {
        font-size: 1rem;
        letter-spacing: 0.05rem;
        font-weight: bold;
        color: white;
    }
    p.capitalize {
        text-transform: capitalize;
    }
    .info-detail-container {
        padding: 1% !important;
        text-align: center !important;
    }
}