.mat-bottom-sheet-container {
    min-height: 75vh;
    min-width: 90vw !important;
    margin-left: 10vw;
    margin-top: 25vh;
    border-top-left-radius: 100px !important;
    padding: 0 !important;
}