@import "../../../styles/text.scss";
.detail-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 3%;
    overflow: hidden !important;
}

.description-container {
    width: 100%;
}

.btn-close-container {
    position: absolute;
    bottom: 65%;
    right: .5%;
}

.detail-image {
    width: 100%;
}

.detail-grid-container-main {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 10px;
    div {
        text-align: justify;
        padding: 15px 0;
        width: 100%;
        text-align: center !important;
    }
}

.info-detail-container {
    padding: 3% !important;
}

@media (max-width: 767px) {
    .btn-close-container {
        right: 2%;
    }
    .detail-container {
        overflow: auto !important;
    }
    .detail-image {
        width: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .detail-grid-container-main {
        display: table;
        .title {
            font-size: 2.5rem;
            letter-spacing: 0.02rem;
            font-weight: bold;
            color: white;
        }
        .subtitle {
            font-size: 1rem;
            letter-spacing: 0.12rem;
            font-weight: normal;
            color: white;
            margin-top: .8em;
        }
        p.accent-text {
            font-size: 1rem;
            letter-spacing: 0.05rem;
            font-weight: bold;
            color: white;
        }
        p.capitalize {
            text-transform: capitalize;
        }
        .info-detail-container {
            padding: 1% !important;
            text-align: center !important;
        }
        grid-template-columns: 100% auto;
        grid-gap: 10px;
        div {
            text-align: justify;
            padding: 0;
        }
    }
    .description {
        font-size: 1rem;
        letter-spacing: 0.03rem;
        font-weight: normal;
        color: white;
    }
    .descri {
        text-align: justify !important;
    }
    .btn-close {
        font-size: 40px;
        .mat-icon {
            font-size: 15px;
        }
    }
}