<div class="detail-container {{pokemon?.backgroundColor}}">
    <div class="detail-grid-container-main" *ngIf="detailPokemon && pokemon && specie">
        <div>
            <img class="detail-image animated fadeInUp" [src]="pokemon?.detailImmageUrl" alt="" srcset="">
        </div>
        <div class="info-detail-container">
            <div class="detail-grid-container">
                <div>
                    <p class="title capitalize animated fadeInUpBig">{{pokemon?.name}}</p>
                    <P class="subtitle animated fadeInUpBig">{{specie?.genus}}</P>
                </div>
                <div class="btn-close-container animated fadeInUpBig">
                    <button mat-stroked-button (click)="openLink($event)">
                        Cerrar <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <p class="description animated fadeInUpBig">Peso: {{detailPokemon?.weigth}} Kg / Altura: {{detailPokemon?.height}} M</p>
            <div class="description-container animated fadeInUpBig">
                <p class="description descri animated fadeInUpBig">{{specie?.description}}</p>
            </div>
            <p class="accent-text animated fadeInUpBig">Criatura</p>
            <div>
                <img class="animated fadeInUpBig" *ngIf="detailPokemon?.spritesImagesUrl.back_default" [src]="detailPokemon?.spritesImagesUrl.back_default">
                <img class="animated fadeInUpBig" *ngIf="detailPokemon?.spritesImagesUrl.back_shiny" [src]="detailPokemon?.spritesImagesUrl.back_shiny">
                <img class="animated fadeInUpBig" *ngIf="detailPokemon?.spritesImagesUrl.front_default" [src]="detailPokemon?.spritesImagesUrl.front_default">
                <img class="animated fadeInUpBig" *ngIf="detailPokemon?.spritesImagesUrl.front_shiny" [src]="detailPokemon?.spritesImagesUrl.front_shiny">
            </div>
        </div>
    </div>
</div>