// CONTAINER INIT

.main-container {
  background-color: whitesmoke;
  padding: 3%;
}

.container {
  background-color: white;
  border-radius: 40px;
  padding: 2%;
}

.btns-container {
  margin-top: 3%;
}

.card-container {
  border-radius: 20px;
  padding-top: 100px;
  height: 160px;
  position: relative;
}

.cards-container {
  height: 300px;
  padding-top: 100px;
}

.title-container {
  margin-bottom: 3%;
}

// CONTAINER END

// TEXT INIT

.subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
  color: white;
}

p.capitalize {
  text-transform: capitalize;
}

.image-card {
  position: absolute;
  top: -110px;
  width: 90%;
}

// text
.title {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
  color: #5a5656;
}

.pokebola {
  width: 50px;
}
