
// CONTAINER INIT

.main-container {
  background-color: whitesmoke;
  padding: 5%;
  height: 100%;
}

.container {
  background-color: white;
  border-radius: 40px;
  padding: 2%;
}

.container-btns {
  margin-top: 2%;
}

.card-container {
  border-radius: 20px;
  padding: 5%;
}

// CONTAINER END


// TEXT INIT

.subtitle {
  font-size: 1.5rem;
  letter-spacing: 0.02rem;
  font-weight: bold;
  color: white;
}

p.capitalize {
  text-transform: capitalize;
}

// TEXT END

// BACKGROUND COLOR INIT
.background-color-0 {
  background-color: #ec3431;
}

.background-color-1 {
  background-color: #3e9fb2;
}

.background-color-2 {
  background-color: #feb500;
}

.background-color-3 {
  background-color: #23c2a2;
}

.background-color-4 {
  background-color: #0162a7;
}
// BACKGROUND COLOR END
